
# ambiente virtual
env/

# configurações do vscode
.vscode/

# arquivo de cache
__pycache__

# configurações do vscode
.vscode/

# requirements fora da raíz do projeto
*/**/requirements.txt

# login e senha do Git
root
!23Mudar