{% extends 'index.html' %}

{% block header %}
<h5 class='card-title'>
    Docker
</h5>
{% endblock %}

{% block content %}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Imagem</th>
            <th scope="col">Status</th>
            <th scope="col">Ações</th>
        </tr>

    </thead>
    <tbody>
        {% for c in context.containers %}
        <tr>
            <th scope="row">{{ c.id }}</th>
            <td>{{ c.image }}</td>
            <td>{{ c.status }}</td>
            <td>
                <span class="mr-3">
                    <a href="/docker/{{ c.id }}/start" title="Iniciar container">
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </a>
                </span>
                <span>
                    <a href="/docker/{{ c.id }}/stop" title="Parar container">
                        <i class="fa fa-stop" aria-hidden="true"></i>
                    </a>
                </span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}